.results {
    padding-bottom: 0;
    &__career-path {
        margin-top: 8rem;
        margin-bottom: -8rem;
        position: relative;
        z-index: 5;
    }
    &__heading {
        color: $color_accent_1;
        text-align: center;
    }

    &__row {
        margin-top: 4rem; 
    }

    &__col {
        margin-top: 2rem;
        text-align: center;

       .results__heading {
           margin-top: 4.5rem;
           margin-bottom: 2rem;
           color: $color_text;
       } 
    }
}