 .sign-up {
     padding-top: 4.2rem;
     padding-bottom: 5rem;
     padding-left: 4.2rem;
     padding-right: 4.2rem;
     margin-left: auto;
     margin-right: auto;
     max-width: 1030px;
     color: #fff;
     box-shadow: 0 15px 49px 0 rgba(254, 88, 77, 0.34);
     background-image: $gradient_bg;

     @media (min-width: $sm) {
        padding-left: 6rem;
        padding-right: 6rem;
     }

     @media (min-width: $md) {
        padding-left: 10.5rem;
        padding-right: 10.5rem;
     }

     button, input {
         &:focus {
            outline-color: lighten($color_accent_2, 10%);
         }
     }

     &__heading {
         margin-top: 0;
         margin-bottom: 0;
         font-weight: normal;
         text-align: center;
     }
 }