/*!
Theme Name: highscore
Author: Alvvi
Author URI: https://alvvi.com
Description: Highscore Landing Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hs
*/

/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Typography
# Links
# Accessibility
# Widgets
# Content
	## Posts and pages
# Media
# Blocks
	## Site
	## SiteTitle
	## SiteDescription
	## Menu
	## Header
	## SinglePage
	## PostItem
	## Comment
	## CommentsList
	## Footer
--------------------------------------------------------------*/

/*-------------------------------------------------------------
Media breakpoints: 
	xs: 375px;
	sm: 576px;
	md: 768px;
	lg: 992px;
	xl: 1240px;
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

:root {
	--color-text: #13141a;
	--color-accent-1: #4591FF;
	--fz-text: 1.6rem;
	--transition-default: 0.25s;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html {
	font-size: 8px;
}

body {
	font-size: var(--fz-text);
	font-weight: normal;
	color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

h1 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 3.2rem;
	line-height: 1;
}

h2 {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	font-size: 2.4rem;
}

blockquote {
	padding: 1.5rem;
	border-radius: 5px;
	background-color: #e3e8f0;
}

blockquote p {
	margin-top: 1.5rem;
	margin-bottom: 0;
}

p {
	margin-bottom: 1em;
}

blockquote p:first-of-type {
	margin-top: 0;
}

@media (min-width: 768px) {
	html {
		font-size: 9px;
	}
}

@media (min-width: 1240px) {
	html {
		font-size: 10px;
	}
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
	color: var(--color-text);
	text-decoration: none;
	transition: color var(--transition-default);
}

a:hover {
	color: var(--color-accent-1);
}

.link,
.more-link {
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	transition: color var(--transition-default), box-shadow var(--transition-default);
}

.link:hover,
.more-link:hover {
	box-shadow: inset 0 0 0 var(--color-accent-1), 0 2px 0 var(--color-accent-1);
}

.link:focus,
.more-link:focus {
	outline: none;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-style: dotted;
	box-shadow: none;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Site
--------------------------------------------------------------*/

.site__col--main {
	padding-top: 2rem;
}

.site__col--sidebar {
	padding-top: 2rem;
}

/*--------------------------------------------------------------
# SiteTitle
--------------------------------------------------------------*/

.site-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 3.4rem;
	font-weight: bold;
	line-height: 1;
}

/*--------------------------------------------------------------
# SiteDescription
--------------------------------------------------------------*/

.site-description {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

/*--------------------------------------------------------------
## Menu
--------------------------------------------------------------*/

.menu>ul {
	margin-top: -1rem;
	margin-bottom: 0;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.menu>ul>li {
	margin-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.header {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	background-color: #e3e8f0;
	overflow: auto;
}

.header__menu {
	margin-top: 1rem;
}

/*--------------------------------------------------------------
## SinglePage
--------------------------------------------------------------*/

.single-page__content p:first-of-type {
	margin-top: 0;
}

/*--------------------------------------------------------------
## PostItem
--------------------------------------------------------------*/

.post-item__title {
	font-size: 2.4rem;
}

.post-item__meta {
	font-size: 1.4rem;
}

.post-item__content>p:last-of-type {
	margin-bottom: 1rem;
}

.post-item__footer {
	font-size: 1.4rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.post-item__footer>span {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/*--------------------------------------------------------------
## Comment
--------------------------------------------------------------*/

.comment {
	margin-top: 2rem;
}

.comment .comment-content>p:last-of-type {
	margin-bottom: 1rem;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comments__list {
	list-style: none;
	padding-left: 0;
}

.comments__list .children {
	list-style: none;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
}


/*--------------------------------------------------------------
#
## CUSTOM
#
--------------------------------------------------------------*/

a.button{
	display: inline-block; vertical-align: middle;
}