.join-us {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 16rem;
    text-align: center;
    color: #fff;
    background-color: #375680;
    background-image: url($theme_dist + '/assets/img/join-us-bg.jpg');
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    @media (min-width: $sm) {
        min-height: 100vh;
        min-height: calc(100vh - 100px);
    }

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        background-image: url($theme_dist + '/assets/img/join-us-bg@2x.jpg');
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__subheading {
        margin-top: 1rem;
        font-weight: normal;
    }
}