.button {
    @include button-reset();
    padding: 1.6rem 2rem;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
    border-radius: 2px;
    color: #000;
    background-color: $color_accent_2;
    transition: 
        background-color $transition_default_timing, 
        color $transition_default_timing, 
        border-color $transition_default_timing
    ;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: $color_accent_1;
    }

    &__icon {
        vertical-align: middle;
        margin-right: 1.5rem;
    }

    &--rounded {
        border-radius: 20.5px;
    }

    &--shadow {
        box-shadow: 0 6px 20px 0 #bb3f00;
        transition: box-shadow $transition_default_timing, background-color $transition_default_timing;

        &:not(.button--dark) {
            &:hover {
                background-color: darken($color_accent_2, 10%);
                color: $color_text;
            }
        }
        
        &:active {
            box-shadow: 0 4px 20px 0 #bb3f00;
        }

        &:focus {
            outline-color: #000;
        }

    }

    &--fluid {
        display: block;
        width: 100%;
    }

    &--fz_bigger {
        font-size: 1.5rem;
    }

    &--dark {
        background-color: #000;

        &.button--ghost {
            border-color: #000;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

    &--ghost {
        padding: 1.4rem 2rem;
        background-color: transparent;
        border: 2px solid $color_accent_2;
        box-shadow: none;

        &:hover {
            background-color: $color_accent_2;
            color: $color_text;
        }
    }
}