.menu {
    display: none;

    &--opened {
        display: block;

        .menu__overlay {
            opacity: 1;
        }

        .menu__container {
            opacity: 1;
            transform: translateZ(0);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 250;
        opacity: 0;

        animation-duration: 0.8s;
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;

        padding-top: 10rem;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 2.5rem;

        overflow-y: auto;
        width: 100%;
        height: 100%;
        z-index: 155;
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        background-color: $color_bg;

        animation-duration: 0.8s;

        @media (min-width: $md) {
            width: 415px;
        }
    }

    &__list {
        @include list-reset;
        margin-top: -3rem;
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }

    &__item {
        margin-top: 2.5rem;
        font-weight: 600;
    }

    &__actions {
        margin-top: 3rem;
        animation-duration: 0.8s;

        .menu__button {
            margin-top: 2rem;
        }

        @media (min-width: $md) {
            margin-top: 10rem;
        }
    }

    &__close {
        @include button-reset();
        
        position: absolute;
        left: 2.5rem;
        top: 2.5rem;
        cursor: pointer;
        animation-duration: 0.5s;
        animation-fill-mode: both;

        &:hover {
            .menu__icon use {
                fill: $color_accent_1;
            }
        }

        &:focus {
            outline: none;
            .menu__icon use {
                fill: $color_accent_1;
            }
        }

        .menu__icon use {
            transition: fill $transition_default_timing;
        }

        @media (min-width: $md) {
            left: 6rem;
            top: 2.5rem;
        }
    }
}


$toggle_width: 20px;
$toggle_single_height: 2px;
$toggle_d: 4px;

$toggle_height: $toggle_d + $toggle_single_height * 4;

.menu-toggle {
    @include button-reset;

    width: $toggle_width;
    height: $toggle_height;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;

    &:hover {
        span {
            background-color: $color_accent_1;
        }
    }

    span {
        display: block;
        position: absolute;
        height: $toggle_single_height;
        width: 100%;
        background-color: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: $toggle_d;
        }

        &:nth-child(3) {
            top: $toggle_d*2;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                top: $toggle_d;
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
                left: -($toggle_width);
            }
            &:nth-child(3) {
                top: $toggle_d;
                transform: rotate(-135deg);
            }
        }
    }
}
