.form {
    &--borders {
        .form__input {
            border: 1px solid #000;
        }
    }

    &--inputs_lg {
        .form__input {
            padding: 1.1rem 2rem 1.6rem;
            font-size: 16px;
            height: auto;
            font-weight: bold;

            @media (min-width: $sm) {
                font-size: 2rem;
                height: 54px;
                
            }
            
            &::placeholder {
                font-size: 16px;
                font-weight: bold;
                
                @media (min-width: $sm) {
                    font-size: 1.8rem;
                }
            }

        }

        &.form {
            span.wpcf7-not-valid-tip, label.error {
                font-size: 1.4rem;
            }
        }

        .ui-button {
            padding: 1.1rem 2rem 1.6rem;
            font-size: 16px;
            height: auto;
            font-weight: bold;

            @media (min-width: $sm) {
                font-size: 2rem;
                height: 54px;
            }
        }

        .ui-menu .ui-menu-item-wrapper {
            padding: 1.1rem 2rem 1.6rem;
            border: 1px solid #fff;
            font-size: 16px;
            height: auto;
            font-weight: bold;

            @media (min-width: $sm) {
                font-size: 2rem;
                height: 54px;
            }
        }

        .counter {
            height: 42px;

            .counter__display {
                font-size: 16px;
            }

            @media (min-width: $sm) {
                height: 54px;

                .counter__display {
                    font-size: 2rem;
                }
            }
        }
    }

    &__heading {
        margin-bottom: 2rem;
        font-weight: 600;
    }

    &__label {
        display: block;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
    }

    &__submit {
        margin-top: 3rem;
    }

    &__fields {
        margin-top: 0.5rem;

        &>.form__col {
            margin-top: 2rem;
        }

        &--horizontal {
            .form__col {
                &--input {
                    @media (min-width: $lg) {
                        flex: 0 0 37.5%;
                        max-width: 37.5%;
                    }
                }
            }

            .form__input {
                @media (min-width: $lg) {
                    height: 43px;
                }
            }

            .form__button {
                @media (min-width: $lg) {
                    height: 43px;
                }
            }
        }
    }

    &__input,
    &__file-input {
        padding: 1rem 1.8rem 1.2rem;
        width: 100%;
        border: none;
        font-size: 16px;
        line-height: normal;
        border-radius: 0;
        -webkit-appearance: none;

        &::placeholder {
            font-size: 1.4rem;
        }
    }

    &__textarea {
        max-width: 100%;
        max-height: 300px;
        padding: 1.1rem 1.5rem;
        width: 100%;
        border: none;
        border-radius: 0;
        font-size: 16px;
        -webkit-appearance: none;

        &::placeholder {
            font-size: 1.4rem;
        }
    }

    &__file-input {
        position: relative;
        min-height: 43px;

        &>button {
            @include button-reset();
            padding: 1.1rem 1.5rem;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            text-align: left;
            font-size: 1.4rem;
            color: #fff;
            cursor: default;
        }

        input,
        .wpcf7-form-control-wrap {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 25;
            opacity: 0;
            cursor: default !important;

            &:hover+.form__dropzone {
                opacity: 1;
            }
        }
    }

    &__dropzone {
        position: absolute;
        padding: 1.1rem 1.5rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: #fff;
        border: 2px dashed #fff;
        background-color: $color_accent_2;
        opacity: 0;
        cursor: default;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
    }

    &__reset-list {
        @include button-reset;
        margin-top: 0.5rem;
        font-size: 1.2rem;
        color: $color_accent_1;
        cursor: pointer;
    }

    &__checkbox-wrapper {
        position: relative;
        display: inline-block;
        cursor: pointer;
        background-position: 50%;

        &.invalid {
            .form__box {
                border-color: #f00;
            }
        }

        &.checked {
            .form__box {
                background-position: 50%;
            }
        }

        .form__text {
            display: inline-block;
            padding-left: 3rem;
        }

        span.wpcf7-not-valid-tip {
            display: none;
        }
    }

    .wpcf7-form-control-wrap {
        &:focus-within {
            &~.form__box {
                outline: 1px solid #fff;
            }
        }
    }

    &__checkbox {
        position: absolute;
        opacity: 0;

        &:checked~.form__box {
            background-position: 50%;
        }
    }

    &__box {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 2px;
        border: 1px solid $color_accent_1;
        background-repeat: no-repeat;
        background-image: url($theme_dist + '/assets/img/sign.svg');
        background-position: -100px -100px;
    }

    &__subtotal, &__total {
        align-items: flex-end;
        margin-top: 1.5rem;
        .form__dots {
            display: none;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 2px;
            border-bottom: 1px dashed #a5a5a5;

            @media (min-width: $lg) {
                display: block;
            }
        }
        .form__sum {
            margin-top: 0.5rem;
            line-height: 1.4;

            @media (min-width: $lg) {
                margin-top: 0;
                line-height: 1;
            }
        }
    }

    &__subtotal {
        margin-top: 3.2rem;
        .form__sum {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    &__total {
        .form__sum {
            font-size: 3.2rem;
            font-weight: bold;
        }
    }

    &__info {
        margin-top: 3rem;
        text-align: center;

        .form__link {
            color: #000;

            &:hover {
                color: $color_accent_1;

                .link__icon {
                    fill: $color_accent_1;
                }
            }
        }
    }

    span.wpcf7-not-valid-tip, 
    label.error {
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
        font-size: 1.2rem;
        color: $color_accent_2;
    }

    .wpcf7-response-output {
        font-size: 1.4rem;
        padding: 1rem;
    }

    label.error {
        margin-top: 1rem;
        display: block;
    }
}
