.teachers {
    padding-top: 14.2rem;
    background-color: $color_bg_light;

    &__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        color: $color_accent_1;
    }

    &__slider {
        margin-top: 0;
        margin-left: -1rem;
        margin-right: -1rem;

        .slick-current {
            .teacher-card {
                &__preview { 
                    transform: translateX(0) !important;
                    transition: filter $transition_default_timing, transform 0.35s;
                    filter: grayscale(0);

                    &::before {
                        opacity: 0;
                    }
                }

                &__body {
                    opacity: 1;
                    transition-delay: 0.35s;
                }
            }

            & + .slick-slide {
                .teacher-card__preview {
                    transform: translateX(0);
                } 
            }
        }
        
        .slick-slide {
            .teacher-card__preview {
                @media (min-width: $xl) {
                    transform: translateX(127%);
                }
            }
        }

    }

    &__slide {
        padding-top: 4rem;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        @media (min-width: $xl) {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 4rem;
        }
    }
}

.teacher-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: $xl) {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    &__preview {
        margin-bottom: -7rem;
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        height: 310px;
        max-width: 320px;
        width: 100%;
        text-align: center;
        color: #fff;
        z-index: 5;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media (min-width: $xs) {
            height: 380px;
        }

        @media (min-width: $sm) {
            max-width: 400px;
            height: 440px;
        }

        @media (min-width: $md) {
            margin-bottom: 0;
            max-width: 295px;
            width: 285px; 
            z-index: 0;
        }


        filter: grayscale(100%);
        transition: filter $transition_default_timing, transform 0.45s;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: grey;
            opacity: 0.3;
            z-index: -1;
            transition: opacity $transition_default_timing;
            content: '';
        }
    }

    &__name {
        margin-bottom: 1rem;
    }

    &__position {
        max-width: 200px;
        line-height: 1.5;
    }
    
    &__body {
        display: block;
        position: relative;
        padding-top: 8rem;
        padding-left: 3rem;
        padding-right: 3.5rem;
        padding-bottom: 4rem;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 15px 49px 0 rgba(0, 0, 0, 0.11);
        z-index: 1;
        opacity: 0;
        transition: opacity $transition_default_timing;

        @media (min-width: $md) {
            padding-top: 0;
            padding-left: 4rem;
            padding-right: 4.5rem;
            width: 365px;
            height: 480px;
        }
    }

    &__info {
        margin-top: 2.5rem;
        & > p {
            margin-top: 0.6rem;
            margin-bottom: 0;
        }
    }

    &__label {
        font-size: 9px;
        text-transform: uppercase;
        font-weight: bold;
    }
}