/////
.counter {
    width: 100%;
    max-width: 190px;
    display: flex;
    border: 1px solid $color_text;
}

.counter__add,.counter__substract, .counter__display { 
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    font-size: 2rem;
}

.counter__add, .counter__substract {
    flex-grow: 1;
    text-align: center;
    border: none;
    background: transparent;
    cursor: pointer;
    user-select: none;
}

.counter__add {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    border-left: 1px solid $color_text; 
    transition: background-color $transition_default_timing; 

    &:hover {
        background-color: #F5F6F8;
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.8rem;
        height: 2px;
        background-color: #000;
        transform: translateY(-50%) translateX(-50%);
        transition: background-color $transition_default_timing; 
        content: '';
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 1.8rem;
        background-color: #000;
        transform: translateY(-50%) translateX(-50%);
        transition: background-color $transition_default_timing; 
        content: '';
    }
}

.counter__substract {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    border-right: 1px solid $color_text;

    &:hover {
        background-color: #F5F6F8;
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.8rem;
        height: 2px;
        background-color: #000;
        transform: translateY(-50%) translateX(-50%);
        transition: background-color $transition_default_timing; 
        content: '';
    }
}

.counter__display {
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: transparent;
}

.counter__display {
    text-align: center;
    max-width: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}