.hero {
    position: relative;
    padding-top: 14rem;
    padding-bottom: 16rem;
    color: #fff;
    text-align: center;
    background-color: #375680;
    background-image: url($theme_dist + '/assets/img/hero-bg.jpg');
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    &--home {
        min-height: 100vh;
    }

    @media (min-width: $md) {
        padding-top: 10rem;
    }

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        background-image: url($theme_dist + '/assets/img/hero-bg@2x.jpg');
    }

    &__content {
        margin-top: 6rem;
        margin-left: auto;
        margin-right: auto;
    }

    &__heading {
        margin-bottom: 1.5rem;
    }

    &__subheading {
        margin-top: 0;
        line-height: 1.79;
    }

    &__link {
        margin-bottom: 2rem;
        display: inline-block;

        font-size: 1.9rem;
        color: #fff;

        .link__icon {
            margin-bottom: 0.2rem;
        }

        &:hover {
            text-decoration: none;
            .link__icon {
                fill: $color_accent_1;
            }
        }
    }

    &__actions {
        margin-top: 4rem;
    }
}