.reviews {
    padding-bottom: 6rem;
    background-color: $color_bg_dark;
    color: #fff;
    overflow: hidden;

    &__heading {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: center;
        color: $color_accent_1;
    }

    &__subheading {
        margin-top: 1.5rem;
        text-align: center;
        font-weight: normal;
    }

    &__sliders-wrapper {
        position: relative;
    }

    &__slider {
        position: relative;
        margin-top: 3rem;
        z-index: 5;
    }

    &__blur-slider {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate3d(-50%, -50%, 0) scale(1.05);

        .reviews__slide {
            padding-left: 4rem;
            padding-right: 4rem;
            padding-top: 5rem;
            padding-bottom: 5rem;
            filter: blur(29px);
            opacity: 0;
            box-shadow: 0 15px 27px 0 rgba(0, 0, 0, 0.08);

            @supports (filter: blur(1px)) {
                opacity: 0.5;
            }
        }
    }

    &__slide {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0); 
    }

    &__video {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 1030px;
        width: 100%;
        max-height: 280px;
        background-color: #2B2A2A;

        @media (min-width: $sm) {
            max-height: 380px;
            max-height: 70vh;
        }

        @media (min-width: $lg) {
            max-height: 592px;
        }
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__blured-img {
        width: 100%;
    }

    &__controls {
        margin-top: 1rem;

        @media (min-width: $sm) {
            margin-top: 3rem;
        }
    }
}

.play {
    @include button-reset;
    padding: 0;
    display: block;
    cursor: pointer;

    &:hover {
        .play__icon {
            fill-opacity: 1;
        }
    }

    &:focus {
        outline: none;
        border: 2px solid rgba($color_accent_1, 0.4);
        border-radius: 50%;
    }


    &__icon {
        max-width: 6rem;
        fill-opacity: 0.6;
        transition: fill-opacity $transition_default_timing;

        @media (min-width: $sm) {
            max-width: 10rem;
        }
    }
}