/*--------------------------------------------------------------
# Basic layout tweaks
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
    font-size: 8px;
    cursor: default;

    @media (min-width: $md) {
        font-size: 9px;
    }
    @media (min-width: $lg) {
        font-size: 10px;
    }
}

body {
    font-size: 1.6rem;
    color: $color_text;
    font-family: $ff_main;
    background-color: $color_bg;
    font-weight: $fw_default;
}

* {
    outline-color: $color_accent_1;
}

a {
    color: $color_text;
    text-decoration: none;
    transition: color $transition_default_timing;

    &:hover {
        color: $color_accent_1;
    }
}

p, strong {
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1.3;
    
    strong {
        line-height: 1.3; 
    }
}

svg path {
    fill: inherit;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

.slick-slide {
    &:focus {
        outline: none;
    }
}

/*--------------------------------------------------------------
# Utility classes
--------------------------------------------------------------*/

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    @media (min-width: $xl) {
        padding-bottom: 49.25%;
    }
}

.responsive-video__video, 
.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*--------------------------------------------------------------
# Single class blocks
--------------------------------------------------------------*/
.label {
    font-size: 1.2rem;
}

.icon {
    &--left {
        margin-right: 1rem;
    }
}

.link {
    color: $color_accent_1;

    &:hover {
        text-decoration: underline;
        text-underline-position: under;
    }

    &:focus {
        outline: none;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-style: dotted;
    }

    &--doc {
        vertical-align: middle;
        
        &:hover {
            .link__icon {
                fill: $color_accent_1; 
            }
        }

        .link__icon {
            margin-right: 1.2rem;
            vertical-align: middle;
            transition: fill $transition_default_timing;
        }
    }
}

.section {
    padding-top: 4.2rem;
    padding-bottom: 6rem;

    @media (min-width: $sm) {
        padding-top: 7.2rem;
        padding-bottom: 8rem;
    }
}

.single-page {
    padding-top: 4.2rem;
    padding-bottom: 6rem;
}