$theme_dist: '/wp-content/themes/highscore/dist';

/**
* Breakpoints 
*/
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;

$xs_down: $xs - 1px;
$sm_down: $sm - 1px;
$md_down: $md - 1px;
$lg_down: $lg - 1px;
$xl_down: $xl - 1px;

/**
* Typeography 
*/
$fz_text: 1.6rem;
$fz_text_bigger: 1.8rem;
$fw_default: 400;

$ff_main: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
$ff_accent: 'Montserrat', "Helvetica Neue", Arial, sans-serif;

/**
* Colors 
*/

$color_text: #000;
$color_accent_1:#fb693a;
$color_accent_2: #F8E71C; 

$color_bg: #fff;
$color_bg_light: #f5f6f8;
$color_bg_dark: #2A2A2A;

$gradient_bg: linear-gradient(to right, #ff5057, #f87827);

$transition_default_timing: 0.3s;