.icon-list {
    @include list-reset();

    &__item {
        position: relative;
        padding-top: 3rem;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        align-items: flex-start;
        text-align: center;
        max-width: 400px;

        @media (min-width: $md) {
            max-width: none;
            text-align: left;
        }

        &:nth-of-type(1) {
            margin-top: 0;
            padding-top: 0;
            &::before {
                display: none;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            border-top: 1px dashed #a5a5a5;
            width: 80%;
            content: '';
        }

        & > .icon-list__col {
            margin-top: 2rem;
        }
    }

    &__heading {
        display: block;
        font-weight: 600;

        @media (min-width: $md) {
            margin-left: 3rem;
        }
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
    }
}