.guarantee {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: $color_bg_dark;
    color: #fff;
    
    @media (min-width: $sm) {
        padding-top: 9rem;
        padding-bottom: 9rem;
        background-image: url($theme_dist + '/assets/img/chulk.jpg');
        background-position: center center;
        background-size: cover;
    }

    &__heading {
        margin-top: 0;
        text-align: center;
    }

    &__list {
        @include list-reset();
        margin-top: 3rem;
        justify-content: center;
    }

    &__item {
        margin-top: 3rem;
        position: relative;
        padding-left: 12rem;

        @media (min-width: $xl) {
            padding-right: 6rem;
        }

        &::before {
            position: absolute;
            left: 2rem;
            top: 0;
            height: 6.5rem;
            width: 6.5rem;
            background-size: contain;
            background-position: center center;
            background-image: url($theme_dist + '/assets/img/icons/sign-item.svg');
            background-repeat: no-repeat;
            content: '';
        }

        & > p {
            font-size: 1.4rem;
            line-height: 1.93;
        }

        & > h3 {
            margin-top: 1rem;
            line-height: 1.55;
            font-weight: 600;
        }
    }
}