.side-drawer {
    display: none;

    &--opened {
        display: block;

        .side-drawer__overlay {
            opacity: 1;
        }

        .side-drawer__container {
            opacity: 1;
            transform: translateZ(0);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 250;
        opacity: 0;

        animation-duration: 0.8s;
    }

    &__container {
        position: absolute;
        top: 0;
        right: 0;

        padding-top: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2.5rem;

        overflow-y: auto;
        width: 100%;
        height: 100%;
        z-index: 155;
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        background-color: $color_bg;

        animation-duration: 0.8s;

        @media (min-width: $md) {
            padding-top: 8rem;
            padding-left: 6rem;
            padding-right: 6rem;
            padding-bottom: 2.5rem;
            width: 735px;
        }
    }

    &__close {
        @include button-reset();
        
        position: absolute;
        right: 2.5rem;
        top: 2.5rem;
        cursor: pointer;
        animation-duration: 0.5s;
        animation-fill-mode: both;

        &:hover {
            .side-drawer__icon use {
                fill: $color_accent_1;
            }
        }

        &:focus {
            outline: none;
            .side-drawer__icon use {
                fill: $color_accent_1;
            }
        }

        .side-drawer__icon use {
            transition: fill $transition_default_timing;
        }

        @media (min-width: $md) {
            right: 6rem;
            top: 2.5rem;
        }
    }
}