.callback {
    &__form {
        .form__fields {
            margin-left: -10px;
            margin-right: -10px;

            & > .form__col {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        span.wpcf7-not-valid-tip {
            color: #f00;
        }
    }
    .ui-widget.ui-widget-content {max-height: 200px;}
}
