.heading {
    margin-top: 0;
    font-weight: bold;
    line-height: 1.3;

    &--sm {
        font-size: 2rem;
    }

    &--md {
        font-size: 2.8rem;

        @media (min-width: $sm) {
            font-size: 3.2rem;
        }
    }

    &--lg {
        font-size: 2.8rem;

        @media (min-width: $xs) {
            font-size: 3.4rem;
        }
        
        @media (min-width: $sm) {
            font-size: 4rem;
        }
    }

    &--accent {
        color: $color_accent_1;
    }

    strong {
        font-weight: bold;
    }
}

.subheading {
    font-size: 1.9rem;
}