.controls {
    display: flex;
    align-items: center;
    justify-content: center;

    &--dark {
        .controls__bullet {
            background-color: #000;
        }

        .controls__arrow {
            &:hover {
                .controls__icon {
                    fill: $color_accent_1;
                    color: #fff;
                    fill-opacity: 1;
                }
            }
        }
    }

    &__arrow {
        @include button-reset();
        cursor: pointer;

        &--next {
            .controls__icon {
                transform: rotateY(180deg);
            }
        }

        &:hover {
            .controls__icon {
                fill: #000;
                color: #fff;
                fill-opacity: 1;
            }
        }

        &:focus {
            outline: none;
        }

        &.slick-disabled {
            opacity: 0.4;

            &:hover {
                .controls__icon {
                    fill: none;
                    color: #000;
                    fill-opacity: 0;
                }
            }
        }
    }

    &__icon {
        max-width: 5rem;
        transition: 
            fill $transition_default_timing, 
            color $transition_default_timing, 
            fill-opacity $transition_default_timing;
    }

    &__bullets {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        .slick-dots {
            @include list-reset();
            margin-left: -5px;
            margin-right: -5px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            & > li {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .slick-active {
            .controls__bullet {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    
    &__bullet {
        @include button-reset();
        padding: 0;

        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #cdcdcd;

        &:focus {
            outline: none;
            box-shadow: 0px 0px 4px $color_accent_1;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $color_accent_1;
            background-image: $gradient_bg;
            opacity: 0;
            transition: oapcity $transition_default_timing;
            content: '';
        }
    }
}