.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2.5rem;
    color: #fff;
    transition: background-color 0.35s ease-in-out, box-shadow 0.35s;
    z-index: 25;

    &--sticky {
        position: fixed;
        background-color: #fff;
        color: $color_text;
        box-shadow: 0 15px 49px 0 rgba(0, 0, 0, 0.11);

        .header__logo {
            use {
                fill: $color_accent_1;
            }
        }

        .header__link {
            color: $color_text;
        }

        .header__phone-link {
            .header__icon use {
                fill: $color_text;
            }
        }

        .header__phone {
            color: $color_text;
        }

        .header__toggle {
            span {
                background-color: $color_text;
            }
        }
    }

    &__grid {
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(#fff, 0.2);

        > .header__row {
            margin-top: -2rem;
            > .header__col {
                margin-top: 2rem;
            }
        }
    }

    &__row {
        justify-content: center;
        align-items: center;

        &--links {
            display: none;
            margin-left: 3rem;

            @media (min-width: $lg) {
                display: flex;
            }
        }
    }

    &__col {
        &--left {
            text-align: left;

            display: flex;
            align-items: center;
        }

        &--right {
            text-align: right;

            .header__row {
                justify-content: center;

                @media (min-width: $sm) {
                    justify-content: flex-end;
                }
            }
        }
    }

    &__link {
        color: #fff;
    }

    &__logo-wrapper {
        display: inline-block;

        &:hover {
            .header__logo use {
                fill: $color_accent_1;
            }
        }
    }

    &__logo {
        display: block;
        max-width: 100%;
        height: auto;

        @media (min-width: $xl) {
            height: 28px;
        }

        use {
            transition: fill $transition_default_timing;
        }
    }

    &__phone-link {
        display: inline-flex;
        align-items: center;

        .header__icon {
            flex: 0 0 auto;
            max-width: 100%;
            margin-right: 1rem;
            vertical-align: middle;
            max-width: 1.5rem;

            display: none;
            @media (min-width: $md) {
                display: inline-block;
            }
            
            use {
                fill: #fff;
                color: transparent;
                transition: color $transition_default_timing, fill $transition_default_timing;
            }
        }

        &:hover {
            .header__icon use {
                fill: $color_accent_1;
            }
            .header__phone {
                color: $color_accent_1;
            }
        }
    }

    &__call-btn {
        padding: 0;
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: $md) {
            padding: 1.6rem 2rem;
            display: inline-block;
            width: auto;
            height: auto;
            border-radius: 20.5px;
        }

        .button__icon {
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            max-width: 1.4rem;

            @media (min-width: $md) {
                display: none;
            }
        }
        
        .button__text {
            display: none;
            @media (min-width: $md) {
                display: inline;
            }
        }
    }

    &__phone {
        flex: 0 0 auto;
        font-size: 1.2rem;
        color: #fff;
        font-weight: 600;
        transition: color $transition_default_timing;

        @media (min-width: $xs) {
            font-size: 1.4rem;
        }
    }

    &__toggle {
        margin-top: 0.2rem;
    }
}