.courses {
    background-color: $color_bg_dark;
    color: #fff;

    @media (min-width: $sm) {
        background-color: $color_bg_dark;
        background-image: url($theme_dist + '/assets/img/chulk.jpg');
        background-position: center center;
        background-size: cover;
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__table {
        margin-top: 5rem;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;

        border-left: 1px dashed #fff;
        border-top: 1px dashed #fff;

        @media (min-width: $sm) {
            max-width: none;
        }
    }

    &__course {
        display: block;
        padding-top: 5rem;
        padding-bottom: 2rem;
        text-align: center;
        color: #fff;

        border-right: 1px dashed #fff;
        border-bottom: 1px dashed #fff;

        transition: background-color $transition_default_timing;

        &:hover {
            color: #fff;
            background-color: rgba($color_accent_1, 0.6);
            cursor: pointer;
        }

        @media (min-width: $md) {
            padding-top: 8.5rem;
            padding-bottom: 3rem;
        }
    }

    &__course-heading {
        margin-top: 5.5rem;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__link {
        font-size: 1.1rem;
        font-weight: 600;
        color: #fff;
        opacity: 0.5;
        transition: color $transition_default_timing, opacity $transition_default_timing;
    }
}