.after-hero {
    padding-bottom: 7rem;
    &__sign-up {
        margin-top: -20rem;
        position: relative;
    }

    &__icon-list {
        margin-top: 4rem;

        .icon-list__heading {
            margin-left: 1rem;
            font-size: 1.8rem;

            @media (min-width: $sm) {
                font-size: 2rem;
            }

            @media (min-width: $md) {
                font-size: 1.6rem;
            }

            @media (min-width: $xl) {
                font-size: 2rem;
            }
        }
    }

    &__actions {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: -2rem;
    }
}