.features {
    background-color: $color_bg_light;

    &__heading {
        margin-top: 0;
        color: $color_accent_1;
        text-align: center;
    }

    &__slider {
        margin-top: 5rem;
        position: relative;
    }

    &__box {
        margin-top: 3rem;
        position: relative;
        margin-left: auto;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        z-index: 5;

        width: 100%;
        text-align: center;

        @media (min-width: $sm) {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
        }

        @media (min-width: $lg) {
            margin-top: 0;
            margin-right: _col(1);
            padding-top: 7.2rem;
            padding-bottom: 8rem;
            padding-left: 6rem;
            padding-right: 6rem;
            max-width: none;
            width: 42%;
            min-height: 660px;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            box-shadow: 0 15px 49px 0 rgba(0, 0, 0, 0.11);
        }

        @media (min-width: $xl) {
            padding-left: 10rem;
            padding-right: 10rem;
        }
    }

    &__box-heading {
        line-height: 1.6;
    }
    
    &__controls {
        margin-top: 2rem;

        @media (min-width: $lg) {
            padding-top: 2rem;
            margin-top: auto;
        }

        @media (min-width: $xl) {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }
    }

    &__laptop {
        position: relative;
        z-index: 4;
        
        & > img {
            user-select: none;
            pointer-events: none;
        }

        .slick-track {
            display: flex;
            align-items: center;
        }

        @media (min-width: $lg) {
            position: absolute;
            width: 90%;
            top: 50%;
            left: -40px;
            transform: translateY(-50%);
        }
    }

    &__laptop-wrapper {
        position: relative;
        display: inline-block;
    }

    &__laptop-content-wrapper {
        position: absolute;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 90%;
        z-index: -1;
        overflow: hidden;
    }

    &__laptop-slider {
        display: flex;
        height: 100%;

        .slick-list {
            height: 100%;
        }

        .slick-track {
            height: 100%;
        }
    }

    &__laptop-content {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__img-slide {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 410px; 

        @media (min-width: $lg) {
            max-height: none; 
            margin-left: auto;
            margin-right: 27rem;
        }

        @media (min-width: $xl) {
            margin-right: 45rem;
        }
    }
}