.footer {
    position: relative;
    padding-top: 9rem;
    padding-bottom: 4rem;
    font-size: 1.4rem;
    z-index: 5;
    
    @media (min-width: $md) {
        padding-top: 9rem;
        padding-bottom: 4rem;
    }

    &__right {
        text-align: right;
    }

    &__row {
        margin-top: -1.5rem;
        align-items: center;
        justify-content: center;

        &--info {
            margin-top: 1rem;
        }
    }

    &__col {
        margin-top: 1.5rem;
        text-align: center;
        &--left {
            @media (min-width: $lg) {
                text-align: left;
            }
        }
        &--logo {
            margin-top: 3.5rem;
            font-size: 1.3rem;
            @media (min-width: $lg) {
                margin-top: 1.5rem;
                text-align: right;
            }

            & > span {
                margin-right: 1.2rem;
                vertical-align: middle;
                opacity: 0.4;
            }
        }
    }

    &__logo {
        vertical-align: middle;
    }

    &__sign-up {
        margin-top: -23rem;
        margin-bottom: 5rem;
        position: relative;
    }

    &__link {
        display: block;
        color: $color_text;
        overflow: hidden;

        .link__icon {
            width: 15px;
            height: 18px;
        }
    }
}