.policy {
    &__heading {
        color: $color_accent_1;
    }

    &__content {
        margin-top: 4.5rem;
        & > h3 {
            margin-top: 3.2rem;
            margin-bottom: 3.5rem;
            font-size: 2rem;
            font-weight: 600;
        }

        & > p {
            font-size: 1.4rem;
        }
    }
}