.career-path {
    &__grid {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        text-align: center;
        background-color: $color_accent_1;
        background-image: $gradient_bg;
        color: #fff;

        @media (min-width: $md) {
            padding-left: 3rem;
            padding-right: 3rem;
            text-align: left;
        }
        
        @media (min-width: $xl) {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }

    &__row {
        margin-top: -2rem;
        align-items: center;

        @media (min-width: $lg) {
            flex-wrap: nowrap;
        }
    }

    &__col {
        margin-top: 2rem;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.8rem;

        @media (min-width: $lg) {
            font-size: 1.6rem;
        }

        @media (min-width: $xl) {
            font-size: 2rem;
        }
    }

    &__button {
        width: 100%;
        max-width: 270px;

        @media (min-width: $xl) {
            min-width: 270px;
        }
    }
}