.prices {
    background-color: $color_accent_1;
    background-image: $gradient_bg;
    color: #fff;

    &__heading {
        margin-top: 0;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &__text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        max-width: 600px;
        font-size: 1.9rem;
        text-align: center;
    }

    &__grid {
        & > .row {
            margin-top: 2.5rem;
            justify-content: center;

            & > .col {
                margin-top: 2rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }


    &__actions {
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
        margin-top: 6rem;
        text-align: center;
    }
}

.prices-card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    color: $color_text;
    transition: transform $transition_default_timing, box-shadow $transition_default_timing;

    &:hover {
        box-shadow: 0 19px 53px 0 rgba(129, 16, 16, 0.74);
        transform: scale(1.05);
        z-index: 1;
    }

    &__header {
        padding-top: 2.6rem;
        padding-bottom: 2.6rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: $color_bg_light;

        @media (min-width: $sm) {
            padding-top: 3.2rem;
            padding-bottom: 3.5rem;
        }
    }

    &__name {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: bold;

        @media (min-width: $lg) {
            font-size: 1.6rem;
        }

        @media (min-width: $xl) {
            font-size: 2rem;
        }
    }

    &__price {
        margin-top: 1rem;
        margin-bottom: 0;
        color: $color_accent_1;
        font-size: 2rem;
        font-weight: bold;

        @media (min-width: $lg) {
            font-size: 1.8rem;
        }

        @media (min-width: $xl) {
            font-size: 2rem;
        }
    }

    &__list {
        @include list-reset();
        margin-top: auto;
        margin-bottom: 3.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__item {
        position: relative;
        margin-top: 1.5rem;
        padding-top: 1.8rem;

        @media (min-width: $lg) {
            font-size: 1.4rem;
        }

        @media (min-width: $xl) {
            font-size: $fz_text;
        }

        &:not(:first-of-type) {
            &::before {
                position: absolute;
                top: 0;
                left: 50%;
                width: 80%;
                height: 1px;
                background-color: #e6e6e6;
                transform: translateX(-50%);
                content: '';
            }
        } 

    }

    &__footer {
        margin-top: auto;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__label {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;

        @media (min-width: $lg) {
            font-size: 1rem;
        }

        @media (min-width: $xl) {
            font-size: 1.2rem;
        }
    }

    &__button {
        border-radius: 5px;

        @media (min-width: $lg) {
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1rem;
        }

        @media (min-width: $xl) {
            padding-left: 2.3rem;
            padding-right: 2.3rem;
            font-size: 1.1rem;
        }

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}