.how {
    &__heading {
        margin-top: 0;
        text-align: center;
        color: $color_accent_1;
    }

    &__icon-list {
        margin-top: 4.5rem;
        .icon-list__item {
            .icon-list__col {
                &:nth-of-type(2) {
                    @media (min-width: $xl) {
                        padding-right: 6rem;
                    }
                }
            }
        }
    }
}