.accordion__tab {
    position: relative;
    margin-bottom: 1.5rem;

    &--expanded {
        .accordion__side {
            .accordion__icon {
                fill-opacity: 0;
            }
        }
    }
}

.accordion__side {
    position: absolute;
    top: 50%;
    right: 0;
    width: 5rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.accordion__header {
    position: relative;
    padding: 1.4rem 2.4rem 1.6rem;
    padding-right: 6rem;
    @media (min-width: $sm) {
        padding-right: 8rem;
    }

    &:hover {
        .accordion__icon {
            fill: #e1e1e1;
        }
    }

    &:focus {
        outline: none; 
        .accordion__icon {
            fill: darken(#e1e1e1, 2%);
        }
    }

    cursor: pointer;
}

.accordion__body {
    padding: 0 2.4rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.accordion__title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;

    @media (min-width: $sm) {
        font-size: 2rem;
    }
}

.accordion__icon {
    max-width: 35px;
    transition: fill-opacity $transition_default_timing, fill $transition_default_timing;

    @media (min-width: $sm) {
        max-width: 50px;
    }
}

