.numbers {

    @media (min-width: $sm) {
        background-image: url($theme_dist + '/assets/img/highscore.svg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

    }

    &__circle {
        position: relative;
        border-radius: 50%;
    }

    &__number {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3.2rem;
        font-weight: bold;
        transform: translateY(-50%) translateX(-50%);
    }

    &__main-list {
        margin-top: -4rem;
        align-items: center;

        .numbers__circle {
            width: 100px;
            height: 100px;
            flex: 0 0 100px;
            background-color: #fff;
            box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.08);

            @media (min-width: $sm) {
                width: 150px;
                height: 160px;
                flex: 0 0 150px;
            }

            @media (min-width: $xl) {
                width: 180px;
                height: 190px;
                flex: 0 0 180px;
            } 
        }

        .numbers__number {
            font-size: 3.4rem;
            color: $color_accent_1;

            @media (min-width: $sm) {
                font-size: 4.2rem;
            }

            @media (min-width: $xl) {
                font-size: 5.5rem;
            }
        }

        .numbers__item {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
    
            & > .numbers__number, 
            & > .numbers__text {
                margin-top: 2rem;
                padding-left: 15px;
                padding-right: 15px;
            }

            @media (min-width: $sm) {
                flex-wrap: nowrap;
                text-align: left;
            }
        }

    }   
    
    &__points {
        margin-top: 8rem;
        text-align: center;

        .numbers__list {
            @include list-reset();
            margin-top: -2rem;
            justify-content: center;

            & > .numbers__item {
                margin-top: 3rem;
            }
        }

        .numbers__circle {
            display: inline-block;
            width: 90px;
            height: 90px;
            background-color: $color_accent_1;
            background-image: $gradient_bg;
        }

        .numbers__number {
            font-size: 3.2rem;
            color: #fff;
        }

        .numbers__subject {
            margin-top: 1rem;
        }
    }
}