.payment {
    &__form {
        .form__fields {
            margin-left: -10px;
            margin-right: -10px;

            & > .form__col {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .form__submit {
            margin-top: 4rem;
        }

        span.wpcf7-not-valid-tip,
        label.error {
            color: #f00;
        }
    }
}